body {
    background-attachment:fixed;
    background-image: url(images/image_de_fond.png);
    background-repeat:no-repeat;
    background-size:100%;
}

img {
    margin-left: 1%;
    margin-top: 1%;
    height: 10%;
    width: 10%;
}
.alert {
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
}